@import "../../../constants/_variables.scss";

.languageWrapper {
  display: flex;
  flex-wrap: wrap;
  .languageTile {
    padding: 10px 15px;
    color: $theme-bg-one;
    border: 1px solid $theme-bg-one;
    .language {
      font-size: $medium;
    }
    &:not(:last-child) {
      margin-right: 5px;
    }
    &:hover {
      cursor: pointer;
      background-color: $theme-bg-one;
      color: $white;
    }
    &.active {
      background-color: $theme-bg-one;
      color: $white;
    }
  }
}
